---
title: The Suitcase
body_class: index
---

= partial "partials/navigation"

#fullpage
  %section.section.project_0{"data-menuanchor" => "oj_bio", "class" => "active"} 
    = partial "partials/arrow_key_guide"
    = partial "pages/bio"

  %section.section.project_1{"data-menuanchor" => "iOS_App_Macys"} 
    = partial "projects/macys_and_bloomindales"

  %section.section.project_2{"data-menuanchor" => "Adaptive_Site_SFMOMA"} 
    = partial "projects/sfmoma"

  %section.section.project_3{"data-menuanchor" => "Arc_Al_Jazeera_Hackathon"} 
    = partial "projects/arc"
    
  %section.section.project_4{"data-menuanchor" => "Andriod_App_AFV"}
    = partial "projects/afv"

  %section.section.project_5{"data-menuanchor" => "Branding_Moovweb"} 
    = partial "projects/moovweb"
  

/ #main_header
/   .inner_main_header
/     %a.logo_anchor{"href" => "/#firstPage"} 
/       %span Omar Jalalzada's Portfolio

/     %a.bio{"href" => "/pages/bio.html"} 
/       %span Omar Jalalzada's Bio

