---
title: The Suitcase
body_class: index
---

= partial "partials/navigation"

#fullpage
  %section.section.project_1{"data-menuanchor" => "firstPage", "class" => "active"} 
    = partial "projects/macys_and_bloomindales"

  %section.section.project_2{"data-menuanchor" => "secondPage"} 
    = partial "projects/project_2"

  %section.section{"data-menuanchor" => "thirdPage"}
    = partial "projects/project_3"

  %section.section{"data-menuanchor" => "fourthPage"} 
    = partial "projects/project_4"
  
  %section.section{"data-menuanchor" => "lastPage"} 
    = partial "projects/project_5"

#main_header
  .inner_main_header
    %a.logo_anchor{"href" => "/#firstPage"} 
      %span Omar Jalalzada's Portfolio

    %a.bio{"href" => "/pages/bio.html"} 
      %span Omar Jalalzada's Bio
